.iscroll-luo-box{ position:relative;display:block;width:100%;height:100%;overflow:hidden; }
.iscroll-luo-box div{ position:relative;}
.iscroll-luo-box .sl_scroller{ width:100%;height:100%;overflow:hidden;}
.iscroll-luo-box .sl_scroller>div{
	min-height:calc(100% + 1px);
	/*display:-webkit-flex;
	display:-ms-flex;
	display:flex;
	flex-flow:column nowrap;*/

	display:flex;
	-webkit-user-select: none;
	user-select: none;
}
.iscroll-luo-box .sl_scroller .scroller-content{background-color:#ffffff;flex: auto;}
.iscroll-luo-box .sl_scroller .scroller-pullDown,.iscroll-luo-box .sl_scroller .scroller-pullUp {height: 25px;line-height:25px;font-size: 12px;text-align:center;position:absolute;left:0px;width:100%;}
.iscroll-luo-box .sl_scroller .scroller-pullDown{top:-24px;-webkit-user-select: none;user-select: none;/*flex-shrink:0;*/}
.iscroll-luo-box .sl_scroller .scroller-pullUp{bottom:-24px;-webkit-user-select: none;user-select: none;/*flex-shrink:0;*/}
.iscroll-luo-box .sl_scroller .scroller-pullDown .msg, .iscroll-luo-box .sl_scroller .scroller-pullUp .msg {padding-left:4px;}
.iscroll-luo-box .sl_scroller .scroller-pullDown .icon, .iscroll-luo-box .sl_scroller .scroller-pullUp .icon{display:inline-block;-webkit-transform:rotate(0deg);transform:rotate(0deg);-webkit-transition: -webkit-transform 300ms;transition: -webkit-transform 300ms;}
.iscroll-luo-box .sl_scroller .scroller-pullDown .icon.reverse_icon, .iscroll-luo-box .sl_scroller .scroller-pullUp .icon.reverse_icon{-webkit-transform: rotate(-180deg);transform: rotate(-180deg);}
.iscroll-luo-box .sl_scroller .scroller-pullDown .icon img,.iscroll-luo-box .sl_scroller .scroller-pullUp .icon img{width:12px;height: auto;}

.iscroll-luo-box .sl_down{position:absolute;width:100%;top:0;height:25px;line-height:25px;text-align:center;color:#fff;font-size:12px;z-index:99;-webkit-transform:translateY(-25px);transform:translateY(-25px);-webkit-transition:-webkit-transform 200ms;transition:transform 200ms;}
.iscroll-luo-box .sl_down>img{height:12px;width:auto;margin-right:4px;-webkit-transform: translateY(1px);transform: translateY(1px);}
.iscroll-luo-box .sl_up{position:absolute;width:100%;bottom:0;height:25px;line-height:25px;text-align:center;color:#fff;font-size:12px;z-index:99;-webkit-transform:translateY(25px);transform:translateY(25px);-webkit-transition:-webkit-transform 200ms;transition:transform 200ms;}
.iscroll-luo-box .sl_up>img{height:12px;width:auto;margin-right:4px;-webkit-transform: translateY(1px);transform: translateY(1px);}
.iscroll-luo-box .sl_show{-webkit-transform:translateY(0);transform:translateY(0);}